{% extends 'base.html.twig' %}

{% block title %}Hello StatistiqueMatchController!{% endblock %}

{% block body %}
<table class="table table table-striped table-bordered mt-3 pt-3" style="font-size: 11px; text-align: center;" id="dtBasicExample" cellspacing="0" width="100%">
  <thead class="thead-light">
    <tr>
      <th scope="col th-sm">#</th>
      <th scope="col th-sm">Team</th>
      <th scope="col th-sm">Name</th>
      <th scope="col th-sm">Kills</th>
      <th scope="col th-sm">Assists</th>
      <th scope="col th-sm">Deaths</th>
      <th scope="col th-sm">K/D Ratio</th>
      <th scope="col th-sm">HeadshotKills</th>
      <th scope="col th-sm">HS %</th>
      <th scope="col th-sm">ADR</th>
      <th scope="col th-sm">Flashbang Assists</th>
      <th scope="col th-sm">Bomb Plants</th>
      <th scope="col th-sm">Bomb Defuses</th>
      <th scope="col th-sm">v1</th>
      <th scope="col th-sm">v2</th>
      <th scope="col th-sm">v3</th>
      <th scope="col th-sm">v4</th>
      <th scope="col th-sm">v5</th>
      <th scope="col th-sm">First kill T</th>
      <th scope="col th-sm">First kill Ct</th>
    </tr>
  </thead>
    <tbody>
        {% for statistique in statistiques %}
            <tr>
              <th scope="row">1</th>
              <td>{{statistique.team}}</td>
              <td>{{statistique.name}}</td>
              <td>{{statistique.kills}}</td>
              <td>{{statistique.assists}}</td>
              <td>{{statistique.deaths}}</td>
              <td>{{(statistique.kills / statistique.deaths)|slice(0, 4)}}</td>
              <td>{{statistique.headshot_kills}}</td>
              <td>{{((statistique.headshot_kills / statistique.kills) * 100)|slice(0, 4)}}</td>
              <td>{{(statistique.damage / statistique.rounds_played)|slice(0, 4)}}</td>
              <td>{{statistique.flashbang_assists}}</td>
              <td>{{statistique.bomb_plants}}</td>
              <td>{{statistique.bomb_defuses}}</td>
              <td>{{statistique.v1}}</td>
              <td>{{statistique.v2}}</td>
              <td>{{statistique.v3}}</td>
              <td>{{statistique.v4}}</td>
              <td>{{statistique.v5}}</td>
              <td>{{statistique.firstkill_t}}</td>
              <td>{{statistique.firstkill_ct}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascriptsInit %}
  <script>
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
  </script>
{% endblock %}
