{% extends 'base.html.twig' %}

{% block title %}Hello StatistiqueMatchController!{% endblock %}

{% block body %}
<table class="table mt-3 pt-3" style="font-size: 11px; text-align: center;">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Name</th>
      <th scope="col">Kills</th>
      <th scope="col">Deaths</th>
      <th scope="col">Assists</th>
      <th scope="col">Flashbang Assists</th>
      <th scope="col">Teamkills</th>
      <th scope="col">HeadshotKills</th>
      <th scope="col">Damage</th>
      <th scope="col">Bomb Plants</th>
      <th scope="col">Bomb Defuses</th>
      <th scope="col">v1</th>
      <th scope="col">v2</th>
      <th scope="col">v3</th>
      <th scope="col">v4</th>
      <th scope="col">v5</th>
      <th scope="col">First kill T</th>
      <th scope="col">First kill Ct</th>
      <th scope="col">First death T</th>
      <th scope="col">First death Ct</th>
    </tr>
  </thead>
    <tbody>
    {{ dump(statistiques)}}
        {% for statistique in statistiques %}
            <tr>
              <th scope="row">1</th>
              <td>{{statistique.team}}</td>
              <td>{{statistique.name}}</td>
              <td>{{statistique.kills}}</td>
              <td>{{statistique.deaths}}</td>
              <td>{{statistique.assists}}</td>
              <td>{{statistique.flashbang_assists}}</td>
              <td>{{statistique.teamkills}}</td>
              <td>{{statistique.headshot_kills}}</td>
              <td>{{statistique.damage}}</td>
              <td>{{statistique.bomb_plants}}</td>
              <td>{{statistique.bomb_defuses}}</td>
              <td>{{statistique.v1}}</td>
              <td>{{statistique.v2}}</td>
              <td>{{statistique.v3}}</td>
              <td>{{statistique.v4}}</td>
              <td>{{statistique.v5}}</td>
              <td>{{statistique.firstkill_t}}</td>
              <td>{{statistique.firstkill_ct}}</td>
              <td>{{statistique.firstdeath_t}}</td>
              <td>{{statistique.firstdeath_ct}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
